[Unit]
Description=Frontend Server
After=network.target

[Service]
ExecStart=/home/pi/.bun/bin/bunx serve -p 8081
WorkingDirectory=/home/pi/actions-runner/_work/sofia-plotter/sofia-plotter/web-apps/svg-dropper/frontend/dist
Restart=on-failure
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target